extends layout
block script
    script(type="application/javascript", src="/javascripts/jquery-2.1.0.min.js")
    script(type="application/javascript", src="/javascripts/bootstrap.min.js")
    script(type="application/javascript", src="/javascripts/jquery.simplePagination.js")
    script(type="application/javascript", src="/javascripts/log.js")
block link
    link(type="text/css", rel="stylesheet", href="/stylesheets/bootstrap.min.css")
    link(type="text/css", rel="stylesheet", href="/stylesheets/style.css")
block body
    div.container
        div.text-center
            h1#title お絵かきログ
            ul#pagination.pagination
            div#list.clearfix
