/**
* 全体の外枠
*/
.outline {
  border: solid;
  border-width: 1px;
  border-color: #bdc3c7;
  background-color: #fff;
}

/**
* ツールバー
*/
.toolbar {
  background-color: #bdc3c7;
  position: fixed;
  z-index: 50;
}

.toolbar div {
  float: left;
}

/**
* 絵を書く道具
*/
label.toggle {
  display: block;
  float: left;
  cursor: pointer;
  width: 23px;
  height: 23px;
  margin-top: 1px;
  margin-right: 1px;
  margin-left: 1px;
  border: solid 1px #2980b9;
  background-color: transparent;
  color: #555e64;
  font-size: 17px;
  text-align: center;
  line-height: 23px;
}

label.toggle:hover {
  border-color: #3498db;
  color: #3498db;
}

label.toggle.active {
  background-color: #2980b9;
  color: #ffffff;
}

label.toggle.new {
  border-color: #20ddff;
  background-color: #20ddff;
}

/**
* パレット
*/
.pallet {
  margin-left: 1px;
}

.pallet>div {
  /* ボタンと同じようにrdoにしてみる？ */
  width: 23px;
  height: 23px;
  margin-top: 1px;
  border: solid 1px #bdc3c7;
  cursor: pointer;
}

#color1 { background-color: #000000; }
#color2 { background-color: #ffffff; }
#color3 { background-color: #ff0000; }
#color4 { background-color: #00ff00; }
#color5 { background-color: #0000ff; }
#color6 { background-color: #ffff00; }
#color7 { background-color: #ff00ff; }
#color8 { background-color: #00ffff; }

#staticColor {
  display: none;
}

.staticColorFixed {
  position: absolute;
  height: 50px;
  width: 72px;
  top: 0px;
  left: 73px;
}

.cp {
  z-index: 100;
}

/**
* ペンの太さ選択
*/
.brushSizeRange {
  float: left;
  width: 50px;
  margin-top: 6px;
  margin-left: 13px;
  margin-right: 15px;
}

.brushSizeCanvas {
  float: left;
  margin-top: 1px;
  margin-right: 1px;
  background-color: #ffffff;
}

/**
* 機能
*/
label.function {
  display: block;
  float: left;
  cursor: pointer;
  width: 23px;
  height: 23px;
  margin: 1px;
  border: solid 1px #2980b9;
  background-color: #2980b9;
  color: #ffffff;
  font-size: 17px;
  text-align: center;
  line-height: 23px;
}

label.function:hover {
  border-color: #3498db;
  background-color: #3498db;
}

/**
* 部屋接続数
*/
.userCount {
  /* todo : 仮 */
  display: block;
  float: left;
  width: 20px;
  height: 23px;
  margin: 1px;
  color: #000000;
  font-size: 15px;
  text-align: right;
  line-height: 23px;
}

/**
* 下描きモードの表示
*/
#roughIndicator {
  position: fixed;
  display: none;
  top: 45px;
  width: 90px;
  height: 30px;
  background-color: #ff0000;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  line-height: 30px;
}

/**
* その他
*/
body {
  margin: 0;
  padding: 0;
}

.clear {
  clear: both;
}

.displayNone {
  display: none;
}

/**
* canvas
*/
.mainCanvas {
  position: absolute;
  top: 29px;
  left: 1px;
}

table input, table td {
  margin: 0;
  padding: 0;
}

#combinationCanvas {
  display: none;
}

/**
* チャット
*/
.chatWindow {
  position: fixed;
  top: 80px;
  left: 290px;
  width: 300px;
  height: 240px;
  border: solid;
  border-width: 1px;
  background-color: #eee;
  opacity: 0.95;
}

.chatHeader {
  height: 20px;
  border: solid;
  border-width: 0px 0px 1px 0px;
}

.dragHandle {
  float: left;
  background-color: #bdc3c7;
  height: 20px;
  width: 222px;
}

.chatHeader label {
  display: block;
  float: left;
  cursor: pointer;
  width: 25px;
  height: 20px;
  border: solid;
  border-width: 0px 0px 0px 1px;
  border-color: #000;
  background-color: #2980b9;
  color: #fff;
  font-size: 15px;
  text-align: center;
  line-height: 20px;
}

.chatHeader label:hover {
  background-color: #3498db;
}

.chatHeader label.disabled {
  background-color: #eee;
}

.chatMessage {
  height: 198px;
  overflow-y: scroll;
  word-wrap: break-word;
  font-size: 15px;
}

.chatMessage p {
  margin: 0 5px 0 5px;
}

.chatMessage hr {
  margin: 2px 2%;
  height: 1px;
  background-color: #ddd;
  border: none;
}

.chatFooter {
  height: 20px;
  border: solid;
  border-width: 1px 0px 0px 0px;
}

.chatFooter input {
  float: left;
  width: 240px;
  height: 20px;
  border: 0;
  padding: 0;
}

.chatFooter label {
  display: block;
  float: left;
  cursor: pointer;
  width: 39px;
  height: 20px;
  border: solid;
  border-width: 0px 1px;
  border-color: #000;
  background-color: #2980b9;
  color: #fff;
  font-size: 15px;
  text-align: center;
  line-height: 20px;
}

.chatFooter label:hover {
  background-color: #3498db;
}

.chatFooter label.disabled {
  background-color: #eee;
}

/**
* ログ
*/
.logPage {
  margin: 20px;
  text-align: center;
}

.logPage a {
  margin-right: 30px;
}

.inactive {
  color: #999999;
}

.thumbnail {
  float: left;
  margin: 10px;
}

.thumbnail img {
  border: solid;
  border-width: 1px;
  border-color: #999999;
}

/**
* ヘルプ
*/

.help {
  width: 550px;
  height: 250px;
  background-color: #eeeeee;
}

.help .caption {
  font-size: 20px;
  font-weight: bold;
}

.help .button {
  display: block;
  float: left;
  width: 23px;
  height: 23px;
  margin: 2px 0px 2px 5px;
  border: solid 1px #2980b9;
  background-color: #2980b9;
  color: #ffffff;
  font-size: 17px;
  text-align: center;
  line-height: 23px;
}

.help .desc {
  display: block;
  float: left;
  height: 23px;
  margin: 3px 15px 3px 5px;
  font-size: 17px;
  line-height: 23px;
}

.help .pallet :first-child {
  margin-left: 4px;
}

.help .pallet div
{
  float: left;
  width: 23px;
  height: 23px;
  margin: 2px 2px 2px 0px;
  border: solid 1px #bdc3c7;
}

/**
* 管理ページ
*/
.roomList td {
  text-align: right;
}
